<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">
	<!--internalLogFile="c:\Users\Gerald\source\repos\ApplicationEmbedKillProcessResources\log.txt"-->

	<!-- enable asp.net core and mongodb layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mongo"/>
	</extensions>

	<!--internal-nlog:NLog启动及加载config信息-->
	<!--nlog-all:所有日志记录信息-->
	<!--nlog-own:自定义日志记录信息-->

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  --><!-- write logs to Local  -->
		<target xsi:type="File" name="allfile" fileName="C:\KillProcessLog-Own-${shortdate}.log"
				layout="日志记录时间：${longdate}${newline}日志级别：${uppercase:${level}}${newline}日志来源：${logger}${newline}日志信息：${message}${newline}错误信息：${exception:format=tostring}${newline}==============================================================${newline}" />

		<!-- another file log, only own logs. Uses some ASP.NET core renderers --><!-- write logs to Server  -->
		<target xsi:type="File" name="ownFile-web" fileName="\\10.32.36.230\临时共享盘\USB\LuxProcess\KillProcessLog-All.log"
				layout="日志记录时间：${longdate}${newline}日志级别：${uppercase:${level}}${newline}日志来源：${logger}${newline}日志信息：${message}${newline}错误信息：${exception:format=tostring}${newline}${newline}==============================================================${newline}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />

		<!--Add logs to mongodb-->
		<logger name="*" minlevel="Trace" writeTo="mongo"/>
	</rules>
</nlog>
